.theme{
    height: 100vh;
    &.light{
        background-color: #f8f9fa;
        color: #212529;
    }
    
    &.dark{
        background-color: #212529;
        color: #f8f9fa;
    }

    .toggleThemeButton{
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #007bff;
        color: #f8f9fa;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
}